.git
.github

.venv
venv

.env
.env.*
!.env.example

__pycache__
*.pyc
*.pyo
*.pyd

.pytest_cache
.ruff_cache
.mypy_cache

.coverage
htmlcov

.idea
.vscode

.DS_Store
Thumbs.db

tests

*.log
logs

README.md

/local_fastapi_auth_test/